# ClickHouse конфигурация
CLICKHOUSE_HOST=10.0.1.30
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=default
CLICKHOUSE_TABLE=logs

# Настройки буферизации
BUFFER_FLUSH_INTERVAL=1
BUFFER_MAX_SIZE=1000

# Настройки приложения
APP_HOST=0.0.0.0
APP_PORT=8080
LOG_LEVEL=INFO